<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">desarrollador cristobal parada soto</h5>
              <h6 class="card-subtitle mb-2 text-muted">cristobalparada4@gmail.com</h6>
              <p class="card-text">este es el proyecto final del ramo taller integrado,donde se aprendio usar framework,api y scraper de los datos .</p>
              <a href="https://github.com/mguevara/taller2021" class="card-link">github</a>
              <a href="https://www.toctoc.com/" class="card-link">pagina fuente</a>
            </div>
          </div>
    </body>
</html>